<html>
	<head>
		<title>Commom Room</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chatroom.css') }}">
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	</head>
	<body id="chatbody">
			<script type="text/javascript">
				$(document).ready(function() {
	
					//var socket = io.connect('http://127.0.0.1:5000');
					//var socket = io.connect('https://' + document.domain + ':' + location.port);
					var socket = io();
					var num_users = 0;
	
					socket.on('connect', function() {
						num_users++;
						// socket.send(num_users + ' users connected!');
						socket.send('A user just connected!');
					});
	
					socket.on('message', function(msg) {
						$("#messages").append("<div class='message'><b>Anonymous: </b>" +msg+ "</div><br>");
						console.log('Received message');
					});
					/*
					socket.on('disconnect', function()) {
						num_users--;
						socket.send(num_users + ' users connected!');
					}
					*/
					$('#sendbutton').on('click', function() {
						socket.send($('#myMessage').val());
						$('#myMessage').val('');
					});
				});
			</script>

	<nav class="navbar navbar-dark fixed-top">
		<a class="navbar-brand mx-auto" href="#"><img src="{{url_for('static', filename='logo-cropped.png')}}" alt="the lounge" height="8%" width="8%"></a>
	</nav>

	<br><br><br><br>

	<div class="message text-center">
		<h1 id="chat">Welcome to the common room</h1>
		<h4>Chat with people here!</h4>
		<hr>
	</div>

	<div class="space text-center">
		<ul id="messages"></ul>
		<input type="text" id="myMessage"><span>  </span>
		<button id="sendbutton" class="btn btn-lg btn-outline-light">Send</button>
	</div>

	</body>
</html>